/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

img {
    display: inline-block;
    max-width: 100%;

    /* Debug */
    /* background-color: lightcoral; */
}

/* COMMON */

body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

.container {
    min-width: 770px;
    width: 75%;
    margin: 0 auto;
}

.big-container {
    min-width: 770px;
    width: 80%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.flex-v-centered {
    display: flex;
    align-items: center;
}

.flex-h-centered {
    display: flex;
    justify-content: center;
}

.centered-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.padding-small{
    padding: 15px 0px;
}

.padding-normal {
    padding: 30px 0px;
}

.text-rem-5 {
    font-size: 0.7rem;
}

.text-rem-10 {
    font-size: 0.9rem;
}

.text-rem-15 {
    font-size: 1.2rem;
}

.text-rem-20 {
    font-size: 1.6rem;
}

.text-rem-30 {
    font-size: 2.5rem;
}

.white-text {
    color: rgba(255, 255, 255, 1);
}

.dark-text {
    color: rgba(0, 0, 0, 1);
}

.colored-text {
    color: rgba(114, 137, 218, 1);
}

.white-bg {
    background-color: rgba(255, 255, 255, 1);
}

.grey-bg {
    background-color: rgba(246, 246, 246, 1);
}

.dark-bg {
    background-color: rgba(0, 0, 0, 1);
}

.colored-bg {
    background-color: rgba(114, 137, 218, 1);
}

.clean-link {
    list-style: none;
    text-decoration: none;
}

.tag {
    border-radius: 2rem;
    padding: 5px 15px;
}

.centered-tags {
    margin: 30px 10px 10px;
    display: inline-block;
    min-height: 2.8rem;
    line-height: 2.8rem;
}

.centered-title {
    padding: 10px;
    text-align: center;
}

.centered-paragraph {
    padding: 10px 0px 5px;
    line-height: 2rem;
    text-align: center;
}

/* HEADER */

header {
    background-color: rgba(37, 94, 233, 1);
    padding: 10px 0px 0px;
}

.logo-header {
    min-width: 150px;
    width: 25%;

    /* Debug */
    /* border: 1px solid white; */
}

.nav-space {
    min-width: 470px;
    width: 50%;
    justify-content: center;

    /* Debug */
    /* border: 1px solid white; */
}

.nav-content {
    padding: 0px 15px;
}

.login-space {
    min-width: 150px;
    width: 25%;
    justify-content: end;

    /* Debug */
    /* border: 1px solid white; */
} 

/* MAIN */

/* Hero Section */

.hero {
    padding: 60px 0px 20px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    display: flex;
    justify-content: center;
}

.hero-content {
    min-width: 450px;
    width: 60%;
    padding: 60px 0px 60px;

    /* Debug */
    /* border: 1px solid white; */
}

/* Multi-Content Section */

.section-box-70 {
    width: 70%;
}

.section-box-30 {
    width: 30%;
}

.section-img {
    width: 100%;
}

.section-title {
    padding: 25px 10px 10px 10px;
}

.section-paragraph {
    display: inline-block;
    padding: 10px;
}

/* Mono-Content Section */

.big-section {
    padding: 60px 0px 60px;

    /* Debug */
    /* border: 1px solid rgb(0, 0, 0); */
}

.stars-bg {
    background-image: url(../img/stars.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.sub-padding {
    padding: 25px 30px 10px;
}

/* FOOTER */

footer {
    background-color: rgba(35, 39, 42, 1);
}

/* Menu Section */

.menu {
    padding: 80px 0px 5px;
}

.socials-col {
    width: 25%;

    /* Debug */
    /* min-height: 300px;
    border: 1px solid white; */
}

.links-cols {
    flex-grow: 1;

    /* Debug */
    /* min-height: 300px;
    border: 1px solid white; */
}

.flag-img {
    height: 1rem;
    vertical-align: middle;
}

.social-icon {
    height: 1rem;
    vertical-align: middle;
    margin: 0px 5px;
}

.link-cols .colored-text {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

menu li {
    padding: 0px 10px 20px;
}

/* SignUp Section */

.colored-line {
    color: rgba(114, 137, 218, 1);
}

.login-menu {
    margin: 0px auto;
    justify-content: space-between;
    padding: 10px 0px 50px;
}
