/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* COMMON */

body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

.container {
    width: 75%;
    margin: 0px auto;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.padding-small{
    padding: 15px 0px;
}

.padding-normal {
    padding: 30px 0px;
}

.text-rem-10 {
    font-size: 1rem;
}

.text-rem-15 {
    font-size: 1.5rem;
}

.text-rem-20 {
    font-size: 2rem;
}

.text-rem-25 {
    font-size: 2.5rem;
}

.text-rem-30 {
    font-size: 3rem;
}

.white-text {
    color: rgba(255, 255, 255, 1);
}

.tag {
    border-radius: 20px;
    padding: 5px 10px;
}

/* Debug */
/* .bar {
    border: 2px dashed black;
    padding: 10px;
} */

/* HEADER */

header {
    background-color: rgba(37, 94, 233, 1);
    display: flex;
    align-items: center;
}

.logo-header {
    width: 25%;
    display: flex;
    align-items: center;
    /* Debug */
    border: 1px solid white;
}

.nav-space {
    min-width: 450px;
    width: 50%;
    text-align: center;
    /* Debug */
    border: 1px solid white;
}

.nav {
    justify-content: space-around;
}

.header-link {
    list-style: none;
    text-decoration: none;
}

.login-space {
    width: 25%;
    text-align: end;
    /* Debug */
    border: 1px solid white;
}

.login-header {
    background-color: rgba(255, 255, 255, 1);
}

/* MAIN */

/* Hero Section */

.hero {
    padding: 40px;
    background-color: rgba(0, 0, 139, 1);
    display: flex;
    justify-content: center;
}

.hero-content {
    width: 60%;
    background-color: rgba(238, 130, 238, 1);

    /* Debug */
    height: 300px;
}

/* Multi-Content Section */

.grey-section {
    background-color: rgba(211, 211, 211, 1);
}

.pink {
    background-color: rgba(255, 192, 203, 1);
    flex-grow: 1;

    /* Debug */
    height: 300px;
}

.lightblue {
    background-color: rgba(30, 144, 255, 1);
    flex-grow: 2;

    /* Debug */
    height: 300px;
}

/* Mono-Content Section */

.green {
    background-color: rgba(34, 139, 34, 1);
    flex-grow: 1;

    /* Debug */
    height: 500px;
}

/* FOOTER */

footer {
    background-color: rgba(35, 39, 42, 1);
}

/* Menu Section */

.menu {
    padding: 10px 0px 30px;
}

.salmon {
    background-color: rgba(240, 128, 128, 1);
    flex-grow: 2;
    border-color: white;

    /* Debug */
    height: 300px;
}

.seagreen {
    background-color: rgba(32, 178, 170, 1);
    flex-grow: 1;
    border-color: white;

    /* Debug */
    height: 300px;
}

/* SignUp Section */

.white-line {
    color: white;
}

.login-menu {
    background-color: rgba(127, 255, 212, 1);
    margin: 15px auto 0px;
    justify-content: space-between;
    padding: 15px 0px;
}

.login-item {
    background-color: rgba(255, 182, 193, 1);
}