/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

img {
    display: inline-block;
    max-width: 100%;

    /* Debug */
    background-color: lightcoral;
}

/* COMMON */

body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

.container {
    min-width: 770px;
    width: 75%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.flex-v-centered {
    display: flex;
    align-items: center;
}

.flex-h-centered {
    display: flex;
    justify-content: center;
}

.padding-small{
    padding: 15px 0px;
}

.padding-normal {
    padding: 30px 0px;
}

.text-rem-10 {
    font-size: 0.9rem;
}

.text-rem-15 {
    font-size: 1.2rem;
}

.text-rem-20 {
    font-size: 1.8rem;
}

.text-rem-25 {
    font-size: 2.3rem;
}

.text-rem-30 {
    font-size: 2.5rem;
}

.white-text {
    color: rgba(255, 255, 255, 1);
}

.dark-text {
    color: rgba(0, 0, 0, 1);
}

.colored-text {
    color: rgba(114, 137, 218, 1);
}

.white-bg {
    background-color: rgba(255, 255, 255, 1);
}

.dark-bg {
    background-color: rgba(0, 0, 0, 1);
}

.colored-bg {
    background-color: rgba(114, 137, 218, 1);
}

.clean-link {
    list-style: none;
    text-decoration: none;
}

.tag {
    border-radius: 2rem;
    padding: 5px 15px;
}

/* HEADER */

header {
    background-color: rgba(37, 94, 233, 1);
    padding: 10px 0px 0px;
}

.logo-header {
    min-width: 150px;
    width: 25%;
    padding: 0px 5px;

    /* Debug */
    border: 1px solid white;
}

.nav-space {
    min-width: 470px;
    width: 50%;
    justify-content: center;

    /* Debug */
    border: 1px solid white;
}

.nav-content {
    padding: 0px 15px;
}

.login-space {
    min-width: 150px;
    width: 25%;
    justify-content: end;

    /* Debug */
    border: 1px solid white;
} 

/* MAIN */

/* Hero Section */

.hero {
    padding: 60px 0px 20px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    display: flex;
    justify-content: center;
}

.hero-content {
    min-width: 450px;
    width: 60%;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px 60px;

    /* Debug */
    border: 1px solid white;
}

.hero-title {
    padding: 10px;
    text-align: center;
}

.hero-paragraph {
    padding: 10px 0px 20px;
    line-height: 2rem;
    text-align: center;
}

.hero-tags {
    margin: 0px 10px;
    display: inline-block;
    min-height: 2.8rem;
    line-height: 2.8rem;
}

/* Multi-Content Section */

.grey-section {
    background-color: rgba(211, 211, 211, 1);
}

.img-box-70 {
    width: 70%;
}

.img-box-30 {
    width: 30%;
}

.align-right {
    display: flex;
    justify-content: end;
}

.align-left {
    display: flex;
    justify-content: flex-start;
}

.section-title {
    padding: 10px;
}

.section-paragraph {
    display: inline-block;
    padding: 10px;
}


.pink {
    background-color: rgba(255, 192, 203, 1);
    flex-grow: 1;

    /* Debug */
    min-height: 300px;
}

.lightblue {
    background-color: rgba(30, 144, 255, 1);
    flex-grow: 2;

    /* Debug */
    height: 300px;
}

/* Mono-Content Section */

.green {
    background-color: rgba(34, 139, 34, 1);
    flex-grow: 1;

    /* Debug */
    height: 500px;
}

/* FOOTER */

footer {
    background-color: rgba(35, 39, 42, 1);
}

/* Menu Section */

.menu {
    padding: 10px 0px 30px;
}

.salmon {
    background-color: rgba(240, 128, 128, 1);
    flex-grow: 2;
    border-color: white;

    /* Debug */
    height: 300px;
}

.seagreen {
    background-color: rgba(32, 178, 170, 1);
    flex-grow: 1;
    border-color: white;

    /* Debug */
    height: 300px;
}

/* SignUp Section */

.white-line {
    color: white;
}

.login-menu {
    background-color: rgba(127, 255, 212, 1);
    margin: 15px auto 0px;
    justify-content: space-between;
    padding: 15px 0px;
}

.login-item {
    background-color: rgba(255, 182, 193, 1);
}